# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# C extensions
*.so

# macOS dir files
.DS_Store


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# output
*.pth
*.csv
